<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shirin Electricals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Font Links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--Map Links-->
    <link rel="stylesheet" href="
    https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZy
    oHS5obTRR9BMY=" crossorigin="" />
    <script src=
    "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9V
        M+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <link rel="stylesheet" href="../style.css">

  </head>
  <body>

    <div class="contianer">
        <nav class="navbar bg-success border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        <h1 class="title">
                        <img src="../static/logo.jpeg" alt="Logo" width="80" height="80" class="d-inline-block align-middle image-border title" style="margin-left: 10px; border-radius: 50%;">
                        शिरीन इलेक्ट्रिकल्स</h1>
                    </a>
            </div>
        </nav>


        <!--Collapse button-->
        <nav class="navbar bg-body-success" style="margin-left: 10px; margin-right: 10px;">
          <form class="container-fluid justify-content-center">
                  <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 100%; font-size: 18px; font-weight: bolder;">
                  अधिक
                  </a> 
          </form>
        </nav>
        

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <a href="./contact.html" class="btn btn-outline-success" style="margin-bottom: 10px;">संपर्क</a>
            </div>
        </div>
    </div>


        <!--Map Body Here-->
      <div class="card mb-3 border-success" style="margin: 20px; margin-top: 30px; border-width: 3px; border-radius: 25px; padding: 10px; background-color: rgb(243, 255, 243); font-family: Noto Serif Devanagari;">
        <div class="card-body" style="text-align: center;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d685.7866750189268!2d74.06236526058255!3d18.64586388319852!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2dbf5ce725a9b%3A0xb72128418e220dad!2sShree%20Katoba%20Automobiles!5e1!3m2!1sen!2sin!4v1726296407654!5m2!1sen!2sin" width="280" height="300" style="border: 0; border-radius: 20px; text-align: center;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="card-body" style="text-align: center;">
              <h1 class="card-title text-success">पत्ता</h1>
              <h4 class="card-text" style="font-weight: 350;">शिरीन इलेक्ट्रीकल्स,
                अमृतकलश काँम्प्लैक्स ,
                पुणे - नगर रोड,
                कोरेगाव भिमा,
                ता.- शिरूर,जि.-पुणे
                पिन-४१२२१६</h4>
              <a href="https://maps.app.goo.gl/PAb6D4o6ZgVDntFZ9">Link</a>
        </div>
      </div>
      </div>
      

    <!--footer-->
    <div class="text-center mb-5 text-success" style="padding-top: 50px;">
      <img src="../static/logo.jpeg" height="25" />
      <p> शिरीन इलेक्ट्रिकल्स © 2024 </p>
    </div>
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>